{% extends "base.html" %}
{%block content%}
<img src="../static/images/serve.png" alt="" class="serveimg">
<br>
<br>
<br>
<div class="serve-jumbotron">
    <h1>About Us</h1>
    <p>
        At Nike, we’ve always strived to be the epitome of innovation and athletic excellence. Since our founding on January 25, 1964, by Bill Bowerman and Phil Knight, we've evolved from Blue Ribbon Sports to the globally recognized Nike, Inc. Headquartered near Beaverton, Oregon, we lead the world in sports apparel, footwear, equipment, and accessories.
        
        Our name, inspired by Nike, the Greek goddess of victory, reflects our commitment to triumph and excellence. Our iconic "Swoosh" logo, crafted by graphic design student Carolyn Davidson, and our renowned slogan, "Just Do It," symbolize the determination and success we aim to inspire in every athlete.
        
        We cater to a vast array of sports, including running, basketball, soccer, and more. Each product we create stands as a testament to our dedication to quality and performance, empowering athletes worldwide to push their limits and achieve their dreams. Whether it’s through our cutting-edge running shoes or our latest line of apparel, we at Nike are here to help everyone feel ready to conquer any challenge.</p>
  </div>
  
<style>
    body{
        background-color: black;
    }
    .header{
        position: relative;
    }
    .serveimg{
        width: 100%;
    }
    .serve-jumbotron {
    background: #fff;
    background-position: center;
    color: #000;
    padding: 100px 20px;
    text-align: center;
}

.serve-jumbotron h1 {
    font-size: 4em;
    margin: 0;
    color: #000;
    text-align: left;

}

.serve-jumbotron p {
    font-size: 1.5em;
    margin: 20px 0;
    color: #000;
    text-align: left;
}


</style>
{%endblock%}
