{%extends "base.html"%}
{%block content%}
<br>
<link rel="stylesheet" href="style.css">
<div class="container mt-3 p-3">
    <form class="mt-5" method="post">
    {{ form.hidden_tag() }}
    {{ form.name.label.text }}
    {{ form.name(class="form-control mb-3 mt-2", placeholder=form.name.label.text) }}
    {{ form.text.label.text }}
    {{ form.text(class="form-control mb-3 mt-2", placeholder=form.text.label.text) }}
    {{ form.price.label.text }}
    {{ form.price(class="form-control mb-3 mt-2", placeholder=form.price.label.text) }}
    {{ form.image_url.label.text }}
    {{ form.image_url(class="form-control mb-3 mt-2", placeholder=form.image_url.label.text) }}
    {{ form.image.label.text }}
    {{ form.image() }}
    {{ form.category_id.label.text}}
    {{ form.category_id(class="form-control mb-3 mt-2", placeholder=form.category_id.label.text) }}
    
    {{ form.submit(class="btn btn-primary mb-3 mt-2") }}
    </form>
    </div>
{%endblock%}